* {
  box-sizing: border-box;
}

[data-lk-theme='default'] {
  --lk-accent-fg: #fff;
  --lk-accent-bg: #009fe8;
  --lk-accent2: #1caeef;
  --lk-accent3: #3cbdf3;
  --lk-accent4: #66ccf6;
}

html {
  color-scheme: dark;
  background-color: #111;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  padding: 1.5rem 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--lk-bg);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

footer a {
  color: #009fe8;
  text-decoration-color: #003e86;
  text-underline-offset: 0.125em;
}

footer a:hover {
  text-decoration-color: #009fe8;
}
